



.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.questions{
    color: #6047EC;
}

.cart-container{
    position: sticky;
    top: 0;
    height: 100vh;
}



.cart-blog{
    background-color: rgba(17, 17, 17, 0.05);
}





