



.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.questions{
    color: #6047EC;
}

.bookmark-container{
    position: sticky;
    top: 0;
    
}

.bookmark-time{
    background-color:rgba(17, 17, 17, 0.05);
    color: #6047EC;
}

.bookmarkedBlog{
    background-color: rgba(17, 17, 17, 0.05);
}





