



.news{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    width: 845px;
    height: 800px;
    border: 1px solid rgba(128, 128, 128, 0.186);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.186);
}
.news img{
    width: 845px;
    height: 450px;
}

.authorImage img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.blogTitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
}

.markAsRead{
    color: blue;
    text-decoration: underline;
}







